@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body:before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

body {
	top: 0;
	background: #fff url("../images/diamant.png") repeat;
	background-size: inherit !important;
	font-family: Open Sans, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	font-family: Open Sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	word-wrap: break-word;
}

body.rtl {
	direction: rtl;
}

a {
	text-decoration: none;
}

h2 {
	font-weight: 300 !important;
}

table th {
	font-weight: bold;
}

table td, table th {
	padding: 9px 10px;
	text-align: left;
}

.search-block input {
	height: 25px;
}

#content {
	background-color: #fff;
}

#header-box {
	position: relative;
	width: 60%;
	background: #ddd;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2em 1.5em;
	color: rgba(0,0,0, .8);
	text-shadow: 0 1px 0 #fff;
	line-height: 1.5;
	margin: 60px auto;
}

#header-box:before, #header:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

#header-box:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}

.header-contact-info a {
	color: #fff;
}
/**
 *   wrapper
 */
#wrapper {
	width: 100%;
	margin: 0px auto;
	position: relative;
	background: #FFF;
	position: relative;
	z-index: 1;
}

#wrapper.boxed {
	width: 1020px;
	margin: 0 auto;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	margin-top: -20;
}

.container {
	width: 955px;
	margin: 0 auto;
}

#wrapper .content-wrapper {
	float: left;
	width: 620px;
	min-width: 620px;
}

#wrapper .sidebar {
	float: right;
	width: 300px;
	min-width: 300px;
}

#wrapper .post_sidebar_left .sidebar {
	float: left !important;
}

#wrapper .post_sidebar_left .content-wrapper {
	float: right !important;
}

#wrapper .post_sidebar_left .content-wrapper {
	float: right !important;
}

#wrapper .post_full_width .content-wrapper {
	float: none !important;
	width: 100% !important;
	max-width: 100%;
}

#wrapper #main {
	padding: 20px 0 0 0;
	margin-bottom: 30px;
}

#wrapper:after,
#wrapper #main:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: " ";
}
/**
 *   top bar
 */
.top-bar {
	display: block;
	padding: 20px 0;
}

.top-bar .top-bar-left {
	float: left;
}

.top-bar .top-bar-right,
.top-bar .search-block,
.top-bar .social-icons,
.header-contact-info {
	float: right;
}

.search-block {
	margin: 0 0 0 10px;
}

.search-block {
	height: 30px;
}

.search-block form {
	position: relative;
}

.search-block input,
.search-block button {
	float: right;
}

.search-block input {
	width: 180px;
	padding: 3px 10px 4px 10px !important;
	font: 13px/24px Helvetica, sans-serif;
	margin: 0;
}

.search-block button {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px !important;
	position: absolute;
	border: none;
	outline: none;
	font-weight: normal;
	font-size: 14px;
	color: #dddddd !important;
	background: transparent !important;
	height: 30px;
	line-height: 30px;
	top: 0px;
	right: 10px;
	cursor: pointer;
	border-radius: 2px;
}

.top-bar .social-icons {
	margin: 3px 0 0 10px;
	text-align: center;
}

.social-icons a {
	display: inline-block;
	position: relative;
	overflow: hidden;
	line-height: 0px;
	margin: 1px;
}

.social-icons a i {
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 13px;
}

.social-icons.icon-32 a i {
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
}

.social-icons.icon-12 a i {
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: 9px;
}

.social-icons.icon-12 a i.icon-home {
	padding: 0;
	height: 18px;
	font-size: 15px;
	font-weight: normal;
}

.header-contact-info span,
.header-contact-info span i {
	float: left;
}

.header-contact-info span {
	line-height: 30px;
	margin: 3px 5px 0 5px;
	font-size: 12px;
}

.header-contact-info span i {
	margin: 6px 5px 0 0;
	font-size: 16px;
	color: #e6e6e7;
}

.header-v5 .top-bar {
	background-color: #4B4C4D;
	padding: 5px 0;
}

.header-v5 .top-bar .header-contact-info {
	color: #F0F0F0;
	float: left;
}

.header-v5 {
	clear: both;
	display: block;
	margin: 0 0 10px;
}

.container {
	width: 955px;
	margin: 0 auto;
}

.header-v5 .top-bar {
	background-color: #4b4c4d;
	padding: 5px 0;
}

.header-v5 .top-bar .header-contact-info {
	float: left;
	color: #f0f0f0;
}

.header-v2 .header-row {
	margin: 0 auto;
}

.headerimg {
	background-color: white;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 120x;
	width: 100%;
	position: relative;
	margin-bottom: 1px;
}

.headerlogo {
	background-image: url("../images/teaterlogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 33px;
  left: 88px;
  position: absolute;
  top: -1px;
  width: 460px;
}

.header-v5 .logo {
	display: none;
}

.buttonwrap {
	margin-top: -2px;
	z-index: 9;
	position: relative;
}

.buttonwrap ul li {
	float: left;
	width: 50%;
	text-align: center;
}

.buttonwrap ul li a {
	padding: 10px 10px;
	display: block;
	color: #fff;
}

.buttonwrap ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

.btn-medlemmer {
	background-color: #ffffff;

}

.btn-blimedlem {
	background-color: #ffffff;
}

.btn-vaaremedlemmer {
	background-color: #ffffff;
}

.btn-teaterdager {
	background-color: #ffffff;
}

.btn-om {
	background-color: #ffffff;
}

.buttonwrap ul li:hover a {
	background-color: rgba(255, 255, 255, 0.2);
}

.btn-teaterdager {
	background-color: rgba(230, 126, 34,0.9);
}

.btn-purp {
	background-color: rgba(259, 54, 67,0.9);
}

.btn-yellow {
	background-color: rgba(255, 227, 3,0.9);
}

.btn-pink {
	background-color: rgba(255, 17, 199,0.9);
}

.btn-blue {
	background-color: rgba(34, 18, 163,0.9);
}

.btn-red {
	background-color: rgba(236, 3, 0,0.9);
}

.btn-blk {
	background-color: rgba(17, 17, 17,0.7);
}

.buttonwrap ul li:hover a {
	background-color: rgba(255, 255, 255, 0.2);
}

#menu-hoyremarg li {
	padding: 0;
}

#menu-hoyremarg li a {
	display: block;
	padding: 10px;
}

#menu-hoyremarg .sub-menu li a {
	padding-left: 30px;
}

.header-v5 nav#nav select {
	width: 310px !important;
	float: left;
	font-size: 16px;
	-webkit-appearance: caret;
}
	.header-v5 .top-bar {
		background-color: #4b4c4d;
		padding: 0px 0px;
		margin-bottom: 20px;
	}
@media all and (min-width: 180px) {
		#wrapper.boxed {
		width: 100%;
		margin: 0 auto;
		top: -20px;
	}
		.headerimg {
		 height: 50px;
	}
	.buttonwrap ul li {
		width: 100%;
	}
}

@media all and (min-width: 480px) {
	.headerlogo {
		height: 40px;
		left: 120px;
		top: 0;
	}

	.buttonwrap {
		margin-top: -3px;
	}

	.buttonwrap ul li {
		width: 100%;
	}

	#wrapper.boxed {
		width: 100%;
		margin: 0 auto;
		top: -20px;
	}

	.headerimg {
		height: 100px;
	}

	.navbar {
		width: 100%;
		float: right;
	}
}

@media all and (min-width: 660px) {



	.headerimg {
		height: 40px;
	}

	.headerlogo {
		height: 50px;
		top: 0px;
		left: 0;

	}

	.buttonwrap {
		margin-top: -31px;
		display: block;
		width: 100%;
	}

	.buttonwrap ul li {
		width: 20%;
	}

	.buttonwrap ul li a {
		padding: 5px 5px;
		display: block;
		color: black;
	}
}

@media all and (min-width: 1024px) {
	#wrapper.boxed {
		 width: 1170px;
		 margin: 0 auto;
		top: -20px;
	}	
	.headerimg {
		height: 150px;

	}

  .headerlogo {
	  left: 400px;
	  height: 70px;
	  top: 2px;
  }

	.buttonwrap {
		margin-top: -80px;
	}

	.buttonwrap ul li a {
		padding: 30px 10px;
	}

	.header-v5 nav#nav {
		float: left;
		width: 100%;
	}

	.header-v5 nav#nav ul {
		display: table;
		width: 100%;
		background-color: #eee;
	}

	.header-v5 nav#nav ul li {

		margin: 0;
		padding: 0;
		display: block;
		position: relative;
		width: 20%;
	}

	.header-v5 nav#nav ul a {
		border-top: 3px solid rgba(0, 0, 0, 0);
		display: table;
		height: auto;
		line-height: inherit;
		padding: 15px 20px;
		width: 100%;
		text-align: center;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	.header-v5 nav#nav ul ul {
		top: 53px;
		width: 100%;
	}

	.header-v5 nav#nav ul > li {
		border-right: 1px solid #ddd;
		box-shadow: -1px 0 0 0 white inset;
	}

	.header-v5 nav#nav ul li ul li {
		width: 100%;
	}
}

.lag_header, .lag_header td {
	background-color: #ffffff;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
}

.under_menu_bg {
	background-color: #f7f8f2;
}

.tr_odd {
	background-color: #FFFFF;
	cursor: pointer;
}

.vertborder {
	/*background-attachment: fixed;*/
	background-image: url(../images/black_dot.gif);
	background-repeat: repeat-y;
	background-position: center;
}

.tr_even {
	background-color: #F6F6F6;
	cursor: pointer;
}

/* Calender settings */
.calendar_bg {
	background: #DFDFDF;
}

.calendar_title {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background-image: url(../images/td_header_over_bg.gif);
	background-repeat: repeat-x;
	height: 25px;
}

.calendar_name {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #666666;
	font-weight: bold;
	background: #C5C5C5;
}

.calendar_day {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #336699;
	font-weight: normal;
	background: #F6F6F6;
}

.calendar_today {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #336699;
	font-weight: normal;
	background: #FFFFCC;
}

.parent_menu_link {
	font-family: verdana;
	font-size: 11;
	color: #8c8b8c;
	font-weight: bold;
	text-decoration: none;
}

.parent_menu_link:hover {
	font-family: verdana;
	font-size: 11;
	color: #8b0962;
	font-weight: bold;
	text-decoration: none;
}

.parent_menu_link:active {
	font-family: verdana;
	font-size: 11;
	color: #565656;
	font-weight: bold;
	text-decoration: none;
}

.child_menu_link {
	font-family: verdana;
	font-size: 10;
	color: #9a9a9b;
	font-weight: normal;
	text-decoration: none;
}

.child_menu_link:hover {
	font-family: verdana;
	font-size: 10;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

.child_menu_link:active {
	font-family: verdana;
	font-size: 10;
	color: #565656;
	font-weight: normal;
	text-decoration: none;
}

.webmaster_text {
	font-family: verdana;
	font-size: 10;
	color: #8c8b8c;
	font-weight: normal;
	text-decoration: none;
}

.webmaster_text:hover {
	font-family: verdana;
	font-size: 10;
	color: #565656;
	font-weight: normal;
	text-decoration: none;
}

.top_menu_link {
	font-family: verdana;
	font-size: 11;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.top_menu_link:hover {
	font-family: verdana;
	font-size: 11;
	color: #ccabc2;
	font-weight: bold;
	text-decoration: none;
}

.top_menu_active {
	font-family: verdana;
	font-size: 11;
	color: #8b0962;
	font-weight: bold;
	text-decoration: none;
}

.menu_header {
	font-family: verdana;
	font-size: 11;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.text {
	font-family: verdana;
	font-size: 10;
	color: #565656;
	font-weight: normal;
}

.white_menu_text {
	font-family: verdana;
	font-size: 9;
	color: #ffffff;
	font-weight: normal;
}

.norgerundt {
	font-family: verdana;
	font-size: 11;
	color: #ff0000;
	font-weight: bold;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: ff0000;
	font-style: italic;
}

.left_menu_form {
	font-family: verdana;
	font-size: 9;
	color: #565656;
	background-color: #ffffff;
	border: none;
	width: 122px;
	height: 18px;
	padding: 3px;
}

.left_menu_form_button {
	cursor: hand;
	font-family: verdana;
	font-size: 9;
	color: #565656;
	background-color: #ffffff;
	border: none;
	width: 60px;
	height: 18px;
	padding: 2px;
}

.right_menu_form {
	font-family: verdana;
	font-size: 9;
	color: #565656;
	background-color: #ffffff;
	border: none;
	width: 106px;
	height: 15px;
	padding: 1px;
}

.right_menu_form_button {
	cursor: hand;
	font-family: verdana;
	font-size: 9;
	color: #565656;
	background-color: #ffffff;
	border: none;
	width: 62px;
	height: 15px;
	padding: 1px;
}

.right_menu_text {
	font-family: verdana;
	font-size: 11;
	color: #565656;
	font-weight: normal;
	text-decoration: underline;
}

.right_menu_text:hover {
	font-family: verdana;
	font-size: 11;
	color: #000000;
	font-weight: normal;
	text-decoration: underline;
}

.calender_text {
	font-family: verdana;
	font-size: 9;
	color: #565656;
	font-weight: normal;
	text-decoration: none;
}

.calender_text:hover {
	font-family: verdana;
	font-size: 9;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

.text_title {
	font-family: verdana;
	font-size: 14;
	color: #7f7f7f;
	font-weight: bold;
	text-decoration: none;
}

.text_header {
	font-family: verdana;
	font-size: 11;
	color: #565656;
	font-weight: bold;
}

.td_header_over {
	font-family: verdana;
	font-size: 11;
	color: #565656;
	font-weight: bold;
	text-decoration: underline;
}

.td_header {
	font-family: verdana;
	font-size: 11;
	color: #565656;
	font-weight: bold;
}

.news_main_title {
	font-family: verdana;
	font-size: 14;
	color: #7f7f7f;
	font-weight: bold;
}

.news_main_ingress {
	font-family: verdana;
	font-size: 10;
	color: #565656;
	font-weight: bold;
}

.news_main_title {
	font-family: verdana;
	font-size: 14;
	color: #7f7f7f;
	font-weight: bold;
}

.news_main_text {
	font-family: verdana;
	font-size: 11;
	color: #7f7f7f;
	font-weight: normal;
}

.news_main_picture_text {
	font-family: verdana;
	font-size: 10;
	color: #9a9a9b;
	font-weight: normal;
	font-style: italic;
}

.bold_italic {
	font-family: verdana;
	font-size: 10;
	color: #000000;
	font-weight: normal;
	font-style: italic;
}

.news_link {
	font-family: verdana;
	font-size: 10;
	color: #565656;
	font-weight: bold;
	text-decoration: none;
}

.news_link:hover {
	font-family: verdana;
	font-size: 10;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.news_title {
	font-family: verdana;
	font-size: 10;
	color: #8b0962;
	font-weight: bold;
	text-decoration: none;
}

.news_other_title {
	font-family: verdana;
	font-size: 11;
	color: #7f7f7f;
	font-weight: bold;
	text-decoration: none;
}

.news_other_ingress {
	font-family: verdana;
	font-size: 11;
	color: #565656;
	font-weight: normal;
	text-decoration: none;
}

.news_other_link {
	font-family: verdana;
	font-size: 11;
	color: #565656;
	font-weight: bold;
	text-decoration: none;
}

.news_other_title:hover {
	font-family: verdana;
	font-size: 11;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.news_other_link:hover {
	font-family: verdana;
	font-size: 11;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.news_archive_link {
	font-family: verdana;
	font-size: 9;
	color: #7f7f7f;
	font-weight: normal;
	text-decoration: none;
}

.news_archive_link:hover {
	font-family: verdana;
	font-size: 9;
	color: #565656;
	font-weight: normal;
	text-decoration: none;
}

.text_menu {
	font-family: verdana;
	font-size: 12;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.text_error {
	font-family: verdana;
	font-size: 10;
	color: #DD0000;
	font-weight: normal;
}

.copyright {
	font-family: verdana;
	font-size: 9;
	color: #000000;
	font-weight: normal;
}

.copyright_link {
	font-family: verdana;
	font-size: 9;
	color: #990000;
	font-weight: normal;
	text-decoration: none;
}

.copyright_link:hover {
	font-family: verdana;
	font-size: 9;
	color: #CC0000;
	font-weight: normal;
	text-decoration: underline;
}

.copyright_link:active {
	font-family: verdana;
	font-size: 9;
	color: #CC0000;
	font-weight: normal;
	text-decoration: underline;
}

.menu_link {
	font-family: verdana;
	font-size: 11;
	color: #990000;
	font-weight: normal;
	text-decoration: none;
}

.link {
	font-family: verdana;
	font-size: 10;
	color: #990000;
	font-weight: normal;
}

.link:hover {
	font-family: verdana;
	font-size: 10;
	color: #CC0000;
	font-weight: normal;
}

.submenu_link {
	font-family: verdana;
	font-size: 10;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
}

.submenu_link:hover {
	font-family: verdana;
	font-size: 10;
	color: #CC0000;
	font-weight: normal;
	text-decoration: underline;
}

.menu {
	font-family: verdana;
	font-size: 12;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.menuParent:hover {
	font-family: verdana;
	font-size: 12;
	color: #555555;
	font-weight: bold;
	text-decoration: underline;
}

.menuChild {
	font-family: verdana;
	font-size: 10;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

.text_blend {
	font-family: verdana;
	font-size: 10;
	color: #666666;
	font-weight: normal;
}

.text_white_header {
	font-family: verdana;
	font-size: 12;
	color: #FFFFFF;
	font-weight: bold;
}

.step_blend {
	font-family: verdana;
	font-size: 12;
	color: #CCCCCC;
	font-weight: bold;
}

.step_active {
	font-family: verdana;
	font-size: 12;
	color: #000000;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.form {
	font-family: verdana;
	font-size: 10;
	color: #000000;
}

.form_button {
	font-family: verdana;
	font-size: 10;
	color: #000000;
}

.formTextbox {
	font-family: verdana;
	font-size: 10;
	color: #000000;
	overflow: hidden;
}

.tr_odd {
	background-color: #FFF;
}

.tr_even {
	background-color: #F6F6F6;
}

.tr_over {
	background-color: #E0E6EB;
}

.tooltip {
	position: absolute;
	z-index: 1000;
	width: 300px;
	visibility: hidden;
	color: inherit;
	border: 1px solid #bababa;
	font-size: 10px;
	font-family: verdana, sans-serif;
	padding: 5px;
	background-color: #FDF9DA;
}