﻿/* Global settings */
body, html {
	font-family:		Verdana, Arial, sans-serif; 
	font-size: 			11px;
	color: 				#000000;
	background-color: 	#ffffff;
	font-weight: 		normal;
	margin: 			0px;
	padding: 			0px;
	height:				100%;
	background-image: 	url(../images/container_bg.jpg);
	background-repeat: 	repeat-y;
	background-position:top left; 
}
#left {
	position:			absolute;
	top:				0px;
	left:				0px;
	padding-right: 2px;
}
#right {
	padding:			0px 0px 0px 400px;
	width:				533px;
	height:				100%;
}

h1 {
	font-family: 		Arial, Verdana, sans-serif; 
	font-size: 			18px;
	color: 				#000; 
	font-weight: 		bold;
	background-color: 	inherit;
	line-height: 		17px;
	padding: 			0px 0px 10px 0px;
	margin: 			0px;
}
h2 {
	font-family: 		Arial, Verdana, sans-serif; 
	font-size: 			14px;
	color: 				#000; 
	font-weight: 		bold;
	background-color: 	inherit;
	line-height: 		13px;
	padding: 			0px 0px 10px 0px;
	margin: 			0px;
}

h3 {
	font-family: 		Arial, Verdana, sans-serif; 
	font-size: 			24px;
	color: 				#000; 
	font-weight: 		bold;
	
}



.menu_link, .menu_link:visited  {
	font-family: Verdana, sans-serif; 
	/*font-weight: bold;*/
	font-size: 16px;
	color: #000000;
	text-decoration: none;
}
.menu_link:hover, .menu_link:active {
	color: #ed008c;
	text-decoration: none;
}

/* Default link settings */
a, a:visited {
	color: 				#c12009;
	font-weight: 		normal;
	text-decoration: 	none;
	background-color: 	inherit;
}
a:hover, a:active {
	color: 				#c12009;
	text-decoration: 	underline;
	background-color: 	inherit;
}

/* Default form settings */
form {
	padding: 			0px;
	border: 			0px;
	margin: 			0px;
} 
input, select, textarea {
	font-family: 		Verdana, Arial, Helvetica, sans-serif; 
	font-size: 			11px;
	font-weight: 		normal;
}
