﻿body,html {
	font-family: Verdana, Arial, sans-serif; 
	font-size: 10px;
	color: #333333;
	background-color: #ECECEC;
	font-weight: normal;
	text-align: center;
	background-image: url(../images/bg.gif);
}

#border {
	position: relative;
	background: #D1D1D1;
	padding: 0 5px 5px 5px;
	width: 700px;
	margin: 0px auto 0 auto;
	text-align: left;
}
#container {
	position: relative;
	background: #fff;
	padding: 10 10px 10px 10px;
	width: 670px;
	margin: 0px auto 0 auto;
	text-align: left;
	background-image: url(../images/bohrre.gif);
	background-repeat: no-repeat;
	background-position: center center;
}


#copyright {
	width: 700px;
	padding: 0 0px;
	margin: 0px auto 0px auto;
	text-align: right;
	font-family: Verdana, Arial, sans-serif; 
	font-size: 10px;
	color: #999;
}

form {
	padding: 0px;
	border: 0px;
	margin: 0px;
} 

td {
	font-family: Verdana, Arial, sans-serif; 
	font-size: 10px;
	color: #333333;
	font-weight: normal;
}

.link_copyright {
	font-family: Verdana, sans-serif; 
	font-size: 10px;
	color: #999;
	font-weight: normal;
}
.link_copyright:visited {
	color: #999;
	font-weight: normal;
	text-decoration: none;
}

.link_copyright:hover {
	color: #666;
	text-decoration: underline;
}
.link_copyright:active {
	color: #666;
	text-decoration: underline;
}

.text_title {
	font-family: Arial, Verdana, sans-serif; 
	font-size: 18px;
	color: #D34100;
	font-weight: bold;
}

a {
	color: #336699;
	font-weight: normal;
	text-decoration: none;
}
a:visited {
	color: #336699;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color: #336699;
	text-decoration: underline;
}
a:active {
	color: #336699;
	text-decoration: underline;
}

.menu {
	font-family: Verdana, sans-serif; 
	font-weight: normal;
	font-size: 12px;
	color: #336699;
}
.menu:visited {
	color: #336699;
	font-weight: normal;
	text-decoration: none;
}

.menu:hover {
	color: #336699;
	text-decoration: underline;
}
.menu:active {
	color: #336699;
	text-decoration: underline;
}

input {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #000000; 
	font-weight: normal;
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #000000; 
	font-weight: normal;
}

textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #000000; 
	font-weight: normal;
}

.li_title {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #000000; 
	font-weight: bold;
}
.li_subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #000000; 
	font-weight: bold;
}
