﻿body,html {
	font-family: Verdana, Arial, sans-serif; 
	font-size: 11px;
	color: #999999;
	background-color: #c5d92d;
	font-weight: normal;
	text-align: center;
}

.container {
	position: relative;
	padding: 0px;
	width: 748px;
	margin: 0px auto 0 auto;
	border: 1px solid #000000;
	background: #000000;
}

form {
	padding: 0px;
	border: 0px;
	margin: 0px;
} 

input, select, textarea {
	font-family: Verdana, Arial, sans-serif; 
	font-size: 10px;
}


.copyright, .link_copyright, .link_copyright:visited {
	font-family: Verdana, sans-serif; 
	font-size: 10px;
	color: #000000;
	font-weight: normal;
}

.link_copyright:hover, .link_copyright:active {
	text-decoration: underline;
}

.text_title {
	font-family: Arial, Verdana, sans-serif; 
	font-size: 18px;
	color: #fff600;
	font-weight: bold;
}

a, a:visited {
	color: #e8e9ee;
	font-weight: normal;
	text-decoration: none;
}
a:hover, a:active {
	color: #ffffff;
	text-decoration: underline;
}

.menu_link, .menu_link:visited  {
	font-family: Verdana, sans-serif; 
	font-weight: normal;
	font-size: 12px;
	color: #fff600;
	text-decoration: none;
}
.menu_link:hover, .menu_link:active {
	color: #fff600;
	text-decoration: underline;
}

.li_title {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #000000; 
	font-weight: bold;
}
.li_subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #000000; 
	font-weight: bold;
}
