﻿body,html {
	font-family: 		Verdana, Arial, sans-serif; 
	font-size: 			11px;
	color: 				#ffffff;
	background-color: 	#000000;
	font-weight: 		normal;
	text-align: 		center;
	padding: 			0px;
	margin:				0px;
}

.container {
	position: relative;
	padding: 0px;
	width: 750px;
	margin: 0px auto 0 auto;
	background: #000000;
}

form {
	padding: 0px;
	border: 0px;
	margin: 0px;
} 

input, select, textarea {
	font-family: Verdana, Arial, sans-serif; 
	font-size: 10px;
}

.split {
	width:					100%;
	height:					15px;
	background-image:		url(../images/split.gif);
	background-repeat:		repeat-x;
	background-position:	center center;
}

.copyright, .link_copyright, .link_copyright:visited {
	font-family: Verdana, sans-serif; 
	font-size: 10px;
	color: #000000;
	font-weight: normal;
}

.link_copyright:hover, .link_copyright:active {
	text-decoration: underline;
}

.text_title {
	font-family: Arial, Verdana, sans-serif; 
	font-size: 18px;
	color: #ffc404;
	font-weight: bold;
}

a, a:visited {
	color: #42bbff;
	font-weight: bold;
	text-decoration: none;
}
a:hover, a:active {
	color: #42bbff;
	text-decoration: underline;
}

.menu_link, .menu_link:visited  {
	font-family: Verdana, sans-serif; 
	font-weight: bold;
	font-size: 12px;
	color: #ffc404;
	text-decoration: none;
}
.menu_link:hover, .menu_link:active {
	color: #bfbfbf;
	text-decoration: none;
}

.li_title {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #000000; 
	font-weight: bold;
}
.li_subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #000000; 
	font-weight: bold;
}
